In [13]:
import pandas as pd
import os
import csv
import numpy
import json
import requests
# Import SQL Alchemy
from sqlalchemy import create_engine
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

## Clean csv

In [63]:
df_1 = pd.read_csv("movies_metadata.csv")

In [58]:
df_1.keys()

Index(['Unnamed: 0', 'id', 'imdb_id', 'title', 'release_date',
       'spoken_languages', 'genres', 'runtime', 'production_companies',
       'production_countries', 'budget', 'revenue', 'overview', 'tagline',
       'vote_average', 'vote_count', 'homepage', 'popularity'],
      dtype='object')

In [60]:
df_1=df_1[['id','imdb_id','title','release_date','spoken_languages',
           'genres','runtime','production_companies','production_countries',
           'budget','revenue','overview','tagline','vote_average','vote_count','homepage','popularity']]

In [64]:
df_1.head()

,id,imdb_id,title,release_date,spoken_languages,genres,runtime,production_companies,production_countries,budget,revenue,overview,tagline,vote_average,vote_count,homepage,popularity
0,329440,tt3387542,The Forest,1/7/2016,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",95,"[{'name': 'Lava Bear Films', 'id': 32300}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",10000000,40055439,"Set in the Aokigahara Forest, a real-life plac...",Everyone comes here looking for a way out,4.8,478,http://theforestisreal.com/,7.384688
1,368031,tt3352390,Friend Request,1/7/2016,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",92,"[{'name': 'Wiedemann & Berg Filmproduktion', '...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",9900000,2400000,"Enjoying college life as a popular student, La...",Be careful who you click with.,5.3,376,http://www.w-b-film.de/,14.282584
2,300671,tt4172430,13 Hours: The Secret Soldiers of Benghazi,1/13/2016,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",144,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'MT', 'name': 'Malta'}, {'iso_...",50000000,69411370,An American Ambassador is killed during an att...,"When everything went wrong, six men had the co...",7.0,963,http://www.thirteenhoursmovie.com/,18.022579
3,299687,tt2304933,The 5th Wave,1/14/2016,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",112,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",38000000,109906372,16-year-old Cassie Sullivan tries to survive i...,Protect Your Own,5.6,1993,https://www.facebook.com/5thWaveMovie/,10.788263
4,276905,tt1594972,Norm of the North,1/14/2016,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",86,"[{'name': 'Lionsgate', 'id': 1632}, {'name': '...","[{'iso_3166_1': 'US', 'name': 'United States o...",18000000,17062499,"The stereoscopic 3D animated family film ""Norm...",Bear to be different,4.1,124,http://www.normofthenorth.movie,7.008103

In [6]:
df_1.count()

id                      193
imdb_id                 193
title                   193
release_date            193
spoken_languages        193
genres                  193
runtime                 193
production_companies    193
production_countries    193
budget                  193
revenue                 193
overview                193
tagline                 193
vote_average            193
vote_count              193
homepage                193
popularity              193
dtype: int64

In [10]:
movie_list=df_1["imdb_id"]
movie_list

0      tt3387542
1      tt3352390
2      tt4172430
3      tt2304933
4      tt1594972
5      tt2869728
6      tt1292566
7      tt1860213
8      tt3859304
9      tt3882082
10     tt2267968
11     tt2025690
12     tt4667094
13     tt1374989
14     tt3797868
15     tt4731008
16     tt5320514
17     tt0475290
18     tt1490785
19     tt1608290
20     tt4701660
21     tt1431045
22     tt2948356
23     tt2649554
24     tt4005402
25     tt4263482
26     tt1712261
27     tt5286444
28     tt1083452
29     tt3300542
         ...
163    tt3731562
164    tt2771200
165    tt2062700
166    tt5442430
167    tt3874544
168    tt3717490
169    tt0493405
170    tt1219827
171    tt1730768
172    tt4630562
173    tt3896198
174    tt6574272
175    tt4287320
176    tt1972591
177    tt2316204
178    tt1469304
179    tt0451279
180    tt2345759
181    tt2932536
182    tt3606752
183    tt4799050
184    tt3469046
185    tt4572792
186    tt3371366
187    tt5592248
188    tt6265828
189    tt3450958
190    tt5013056
191    tt4877122
192    tt1648190
Name: imdb_id, Length: 193, dtype: object

In [62]:
df_1.to_csv("movies_metadata.csv")

## API OMDB

In [23]:
# from api_key import api_key

In [82]:
api_key = "e6bf2ec"
base_url = "http://www.omdbapi.com/?apikey="+api_key+"&i="

In [71]:
test=[movie_list[0],movie_list[1]]
test_url=base_url+test[0]

In [72]:
test_re=requests.get(test_url).json()
test_re.keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

In [69]:
test_re["Director"]
test_re["Writer"]
test_re["Actors"]
test_re["Poster"]
test_re["Ratings"]
test_re["BoxOffice"]
test_re["Production"]

'Gramercy Pictures'

In [73]:
scrape_data=[]

In [86]:
# List of movie ID data
movie_list

# Print to logger
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters
record_count = 1

# Loop through all the movies in our list
for movie in movie_list:
        
    # Create endpoint URL with each movie
    movie_url = base_url + str(movie)
    
    # Add 1 to the record count
    record_count += 1
    
#     Run an API request for each of the movies
    try:
        # Parse the JSON and retrieve data
        movie_result = requests.get(movie_url).json()

        # Parse out the necessary information
        
        movie_director=movie_result["Director"]
        movie_writer=movie_result["Writer"]
        movie_actors=movie_result["Actors"]
        movie_posterL=movie_result["Poster"]
        movie_ratings=movie_result["Ratings"]
        movie_box=movie_result["BoxOffice"]
        movie_production=movie_result["Production"]

        # Append the movie information into scrape_data list
        scrape_data.append({"director": movie_director, 
                          "writer": movie_writer, 
                          "actors": movie_actors, 
                          "poster_link": movie_posterL,
                          "ratings": movie_ratings,
                          "boxoffice": movie_box,
                          "production_company": movie_production})

    # If an error is experienced, skip the city
    except:
        print("Movie not found. Skipping...")
        pass
              
# Indicate that Data Loading is complete 
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
-----------------------------
Data Retrieval Complete
-----------------------------

In [90]:
len(scrape_data)

193

In [91]:
scrape_data[1]

{'director': 'Simon Verhoeven',
 'writer': 'Matthew Ballen, Philip Koch, Simon Verhoeven',
 'actors': 'Alycia Debnam-Carey, William Moseley, Connor Paolo, Brit Morgan',
 'poster_link': 'https://m.media-amazon.com/images/M/MV5BNGFhZjQ5OTEtY2FlMy00OWM5LTlkYjAtZGUyNTE2YmVkYjc0XkEyXkFqcGdeQXVyNjkwMzU3NDI@._V1_SX300.jpg',
 'ratings': [{'Source': 'Internet Movie Database', 'Value': '5.3/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '17%'},
  {'Source': 'Metacritic', 'Value': '31/100'}],
 'boxoffice': '$3,758,792',
 'production_company': 'Entertainment Studios Motion Pictures'}

In [95]:
scrape_df=pd.DataFrame(scrape_data)

In [96]:
scrape_df.head()

,actors,boxoffice,director,poster_link,production_company,ratings,writer
0,"Natalie Dormer, Eoin Macken, Stephanie Vogt, O...","$21,818,536",Jason Zada,https://m.media-amazon.com/images/M/MV5BMjAwMz...,Gramercy Pictures,"[{'Source': 'Internet Movie Database', 'Value'...","Nick Antosca, Sarah Cornwell, Ben Ketai"
1,"Alycia Debnam-Carey, William Moseley, Connor P...","$3,758,792",Simon Verhoeven,https://m.media-amazon.com/images/M/MV5BNGFhZj...,Entertainment Studios Motion Pictures,"[{'Source': 'Internet Movie Database', 'Value'...","Matthew Ballen, Philip Koch, Simon Verhoeven"
2,"John Krasinski, James Badge Dale, Pablo Schrei...","$37,978,162",Michael Bay,https://m.media-amazon.com/images/M/MV5BYjY0OW...,Paramount Pictures,"[{'Source': 'Internet Movie Database', 'Value'...","Chuck Hogan (screenplay), Mitchell Zuckoff (book)"
3,"Chloë Grace Moretz, Matthew Zuk, Gabriela Lope...",N/A,J Blakeson,https://m.media-amazon.com/images/M/MV5BMjQwOT...,Sony Pictures,"[{'Source': 'Internet Movie Database', 'Value'...","Susannah Grant (screenplay by), Akiva Goldsman..."
4,"Rob Schneider, Heather Graham, Ken Jeong, Bill...","$12,320,716",Trevor Wall,https://m.media-amazon.com/images/M/MV5BNTY4MD...,Lionsgate,"[{'Source': 'Internet Movie Database', 'Value'...","Daniel Altiere, Steven Altiere, Malcolm T. Gol..."

In [98]:
scrape_df.to_csv("movie_scraped_data.csv")

# SQLITE

In [ ]:
# Create movie_metadata and scraped_data classes
# ----------------------------------
class Surfer(Base):
    __tablename__ = 'surfers'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    hometown = Column(String(255))
    wipeouts = Column(Integer)
    rank = Column(Integer)

class Board(Base):
    __tablename__ = 'surfboards'
    id = Column(Integer, primary_key=True)
    surfer_id = Column(Integer)
    board_name = Column(String(255))
    color = Column(String(255))
    length = Column(Integer)